/************************ TAG SELECTORS *************************/
body { 
    background-color: #f1f3f8;
}
hr { 
    border-style: dotted none none;
    border-color: #393b44;
    border-width: 20px;
    width: 10%;
}

h1 { 
    color: #393b44;
}

h2 { 
    color: #393b44;
}

/************************ ID SELECTORS *************************/
#profile-image { 
    border-radius: 100%;
    border-width: 10px;
    border-color: #393b44;
    border-style: double;
}